@import "variables";

*{
  font-family: 'PT Sans', sans-serif;
}

body {
  background: $bg-color;
}

.mainPlace {
  display: grid;
  grid-template-columns: 100%;
  position: relative;
  max-width: 1440px;
  width: 76%;
  height: 100%;
  margin: 0 8% 0 16%;
  border: $lines-color 1px solid;

  .eventbox {
    h3 {
      font-size: 25px;
      font-weight: 700;
      color: $numbers-blue-color;
    }

    p {
      margin-top: 10px;
      font-size: 16px;
      font-weight: 400;
      color: $dark-blue-color;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px; // Ширина вертикальной линии
    background-color: $lines-color; // Цвет вертикальной линииnp
  }

  // Горизонтальная линия
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 45.5%;
    height: 2px;
    background-color: $lines-color;
    transform: translateY(-50%);
    z-index: -1;
  }
}

.slider {
  padding-left: 75px
}

.selector{
  h2 {
    font-size: 14px;
    margin-bottom: 20px;
    color: $dark-blue-color;
  }

  button{
    font-family: swiper-icons;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: none;
    border: 1px solid #9aa5b9;
  }
}

.historyCircle {
  max-width: 1440px;
  height: 615px;

  .timeCircle{
    position: relative;
    top: 75%;
  }

  .time {
    display: flex;
    font-size: 200px;
    color: $blue-color;
    font-weight: 700;

    span {
      margin-left: 70px;
      color: $pink-color;
    }
  }
}


.selector {
  margin:0 0 56px 76px;
}

.selectorBtns{
  width: 120px;
  display: flex;
  justify-content: space-between;
}


.line{
  position: relative;
  top: 11px;
  height: 120px;
  width: 5px;
  background: linear-gradient($blue-color, $pink-color);
}

.historyDate {
  width: 100%;
  display: flex;
  position: relative;
  top: 12%;

 h1{
   color: $dark-blue-color;
   margin-left: 78px;
   font-size: 56px;
 }
}